<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>A message from your tournament organizer</h2>
    <p>
      <%= @message %>
    </p>
    <p>Thanks for being a customer at Cl0ud9 and have a great day!</p>
  </body>
</html>
