<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>A message from your friend</h2>
<%= @message %>
<% if @tourney.privateURL %>
    <p>Here's the link for your tournament: <br>
      <%= url_for(
              controller: 'tournaments',
              action: 'show',
              id: @tourney.id) + '/private/' + @tourney.private_url.key%>
<% else %>
    <p>Here's the link for your tournament:
      <%= url_for(
              controller: 'tournaments',
              action: 'show',
              id: @tourney.id) %>
<% end %>

<p>Thanks for being a customer at Cl0ud9 and have a great day!</p>
</body>
</html>