<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Refund</h2>
    <p>
      You have been refunded the full price of your ticket(s). We hope you use our services again!
    </p>
    <p>Thanks for being a customer at Cl0ud9 and have a great day!</p>
  </body>
</html>
