<div class="modal fade" id="updateLogoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tournament Logo</h4>
      </div>
      <div class="modal-body text-justify">
      <%= form_for @tournament do |t| %>
        <%= t.label :logoLink, "Upload your logo:" %><br>
        <%= t.file_field :logoLink %>
        
      </div>
      <div class="modal-footer">
      <div class="row">
        <div id = "submit" class="pull-right col-md-12">
            <button type= "button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type = "submit" class ="btn btn-primary" %>Done</button>
        </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>