<p id="notice"><%= notice %></p>


<!--BANNER CONTAINER STARTS---------->

<div id = "main-container" class = "container">
  <div class = "row">
    <div class = "column-xs-9">
      <div class="jumbotron">
        <h1>Welcome to Cl0ud9!</h1>
        <p>A platform designed to help you create, join and sponsor golf tournaments!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>

<!--BANNER CONTAINER ENDS-------------------->

<!--TOURNAMENTS CONTAINER STARTS------------->


<div id = "tournamens-home" class = "container">
  <div class="col-xs-3">
    <!--TODO:place the map or some other part here on the left-->
  </div>
  <div class="col-xs-9">
    <h2>Upcoming Tournaments:</h2>
    <div class = "row">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Tournament one</h4>
          <p class="list-group-item-text">Date: Tomorrow</p>
        </a>
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Tournament two</h4>
          <p class="list-group-item-text">Date: Day after tomorrow</p>
        </a>
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Tournament three</h4>
          <p class="list-group-item-text">Date:Yesterday</p>
        </a>
      </div>

    </div>
  </div>
  <div class="col-xs-3">
    <!--TODO:REMOVE LATER----this  section added to move the tournaments section to the left-->
  </div>
</div>

<!--TOURNAMENT CONTAINER ENDS-------------->


