<style type="text/css">
p {
   font-size: 18px;
}
</style>

<div class="container">
  <div class="row">
    <div class = "col-md-12">
    <h1 class="text-primary">Frequently Asked Questions</h1>
    <p>
      If you can't find an answer to your question, please <%=link_to "contact us", "contact_us" %>.
    </p>
  </div>
</div>

<div class = "row">
 <div class = "col-md-12">
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          How can I create a tournament? </a>
      </h3>
    </div>
    <div id="collapse1" class="panel-collapse collapse out">
      <div class="panel-body"> To be added. </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          How do I create an account? </a>
      </h3>
    </div>
    <div id="collapse2" class="panel-collapse collapse out">
      <div class="panel-body"> To be added. </div>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          How do I check in to a tournament? </a>
      </h3>
    </div>
    <div id="collapse3" class="panel-collapse collapse out">
      <div class="panel-body"> To be added. </div>

    </div>
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          How can I sponsor a tournament? </a>
      </h3>
    </div>
    <div id="collapse4" class="panel-collapse collapse out">
      <div class="panel-body"> To be added. </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          How can I register for a tournament? </a>
      </h3>
    </div>
    <div id="collapse5" class="panel-collapse collapse out">
      <div class="panel-body"> To be added. </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
          What if my golf course isn't listed? </a>
      </h3>
    </div>
    <div id="collapse6" class="panel-collapse collapse out">
      <div class="panel-body"> To be added. </div>
    </div>
  </div>
 </div>
</div>
</div>
