<style type="text/css">
  p {
    font-size: 18px;
  }
</style>

<div class="container">
  <div class="row">
    <h1 class="text-primary">Features</h1>
    <p>
      This page lists all the unique feature that the Cl0ud9 Golfing software includes
    </p>

  </div>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            View Tournaments </a>
        </h3>
      </div>
      <div id="collapse1" class="panel-collapse collapse out">
        <div class="panel-body"> Look at all the golf tournaments happening around the world and sign up for them instantly </div>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            Player signup</a>
        </h3>
      </div>
      <div id="collapse2" class="panel-collapse collapse out">
        <div class="panel-body"> Register your profile as a player and singup for a golf tournament of your choice </div>
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            Online Check-in </a>
        </h3>
      </div>
      <div id="collapse3" class="panel-collapse collapse out">
        <div class="panel-body"> As a golf tournament administrator, check-in your players as they arrive at the tournament</div>

      </div>
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            Create Tournaments </a>
        </h3>
      </div>
      <div id="collapse4" class="panel-collapse collapse out">
        <div class="panel-body"> Create new tournament as the season goes on </div>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
            Live Scores </a>
        </h3>
      </div>
      <div id="collapse5" class="panel-collapse collapse out">
        <div class="panel-body"> Look at live scores of golf matches as they happen </div>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
            Track players </a>
        </h3>
      </div>
      <div id="collapse6" class="panel-collapse collapse out">
        <div class="panel-body"> Keep track of what tournaments each player is participating in. </div>
      </div>
    </div>
    <div>
