<style type="text/css">
  p {
    font-size: 18px;
  }
</style>

<div class="container">
  <div class="row">
    <h1 class="text-primary">Our Story</h1>
   <p>Our mission at Cl0ud9 is to provide golfers, course managers, and event planners with the industry’s best tournament management system, a product that delivers on the promise of less work for the course staff, more fun for golfers, and more revenue from golf operations.</p>
    <p>Our product, Cl0ud9, combines time-honored, traditional golf tournament features with exciting and unique innovations made possible by advanced software engineering that leverages the clear advantages of cloud-based software delivery. Our products are best thought of as “where technology meets tradition” — offering the advantages of both worlds.</p>
  <p>Our product development is guided by valuable feedback from our customers we listen closely to the users of our product, and we regularly enhance Cl0ud9 with the goal of making our customers completely satisfied and more successful. Nearly half of our employees are PGA club professionals, which means we benefit from in-house experience and understanding that helps us satisfy real world customer needs.</p>
  <p>Our company philosophy includes another important promise to our customers: service is part of of the product.

    Our investment in support staff — both in numbers of support team members and their product expertise is unmatched. We know that the tournament management process can be challenging to manage, that event complexity is not unusual, and that the need to have assistance even during tournament play is always a possibility. You deserve and can expect fast and knowledgable product support from our company.</p>
  </div>
</div>

