<style type="text/css">
  p {
    font-size: 18px;
  }
</style>

<div class="container">
  <div class="row">
    <h1 class="text-primary"><center>Our Partners</center></h1>
    <br></br>

    <p> Our distinguished partners have made us the number one gold tournament software in all of Canada
        Our partners benefit from us by getting VIP passes to every golf tournament before anyone else </p>

    <br></br>
    <br></br>

    <center><img src="http://www.ece.utoronto.ca/wp-content/uploads/2012/11/Stumm-M-H350.jpg" alt="Mountain View" style="height:300px;" ></center>
    <center><h2 class="text-primary">Professor Michael Stumm</h2></center>

    <br></br>

    <center><img src="https://lh3.googleusercontent.com/-87iWZPt-BFY/AAAAAAAAAAI/AAAAAAAAA0c/MDVZXHsqZN4/s640/photo.jpg" alt="Mountain View" style="height:300px;" ></center>
    <center><h2 class="text-primary">Oanda</h2></center>

    <br></br>

    <center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/UofT_Logo.svg/1280px-UofT_Logo.svg.png" alt="Mountain View" style="height:300px;" ></center>
    <center><h2 class="text-primary">University of Toronto</h2></center>

    <br></br>

  </div>
</div>

