<table class="table table-striped">
	<tr>
		<th>Time</th>
		<th>Event</th>
		<th></th>
	</tr>
	<% @sched_events.each do |se| %>
		<tr>
			<td>
				<%= se.startTime.strftime("%H:%M %p") %>
			</td>
			<td> <%= se.description %></td>
			<% if organize %>
			<td><span class="pull-right">
			<%= link_to "", [@tournament, se], remote: true, method: :delete, :class => 'btn btn-xs glyphicon glyphicon-trash' %>
		</span></td>
		<%end%>
		</tr>
	<% end %>
</table>
