<form method="post">
  <fieldset>
    <legend>Check in the players</legend>
    <input type="checkbox" name="animal" value="Tiger Woods" />Woods <br />
    <input type="checkbox" name="animal" value="Olga Ojha" />Ojha<br />
    <input type="checkbox" name="animal" value="Arun Ojha" />Haque<br />
    <input type="submit" value="Submit now" />
  </fieldset>
</form>