<div>
  <h1> HMMM </h1>
  <div>
    <h3>
    Our bad. Or yours. This is missing. Sorry.
    If you clicked a link, please <a href="/errors">contact us</a>
    Otherwise, try again, or go home
    </h3>
  </div>
  <%= cl_image_tag("404.jpg") style:"max-width:80%" %>
</div>