<h1> HMMM </h1>
<div>
Our bad. Or yours. This is missing. Sorry.
</div>
<div>
If you clicked a link, please <a href="/errors">contact us</a>
</div
<div>
Otherwise, try again, or go home
</div>
<%= cl_image_tag("404.jpg") %>