<div class="text-center">
  <h1> HMMM </h1>

  <img src="http://res.cloudinary.com/cl0ud9/image/upload/404" style="max-height: 60vh; max-width: 80%">  
  <div>
    <h3>
    <p>Our bad. Or yours. This is missing. Sorry.
    </h3>
    <p>If you clicked a link, please <a href="/contact_us">contact us</a>.
    <p>Otherwise, try again, or go home
  </div>
</div>