// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon{
  font-size: 50px;
}
#google-maps-div{
  margin-top: 20px;
}
#add_golf_course_btn{
  margin-top: 10px;
}
//TODO: add different fonts